@page "/"
@inject MediatR.IMediator _mediator 

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>



<ul>
    @foreach (var p in people)
    {
        <li>@p.FirstName @p.LastName</li>


        
    }
</ul>


<SurveyPrompt Title="How is Blazor working for you?" />
@code{
    List<PersonModel> people;


    protected override async Task OnInitializedAsync()
    {
        //Just the send command is enough as long as you 
        people = await _mediator.Send(new GetPersonListQuery());

    }


}